.avatar-card{
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  flex-direction: column;

  .avatar {
    margin: 0 auto;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px auto 10px auto;
      width: 67%;
      border-radius: 100px;
      border: 6px solid #ffffff;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  }
}
.info-box{
  .title{
    font-size: 18px;
  }
  .description{
    color: #707070;
  }
}
}